body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    font-family: 'sans-serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    user-select: none;
    background-color: lightgray;
}

header {
    font-size: 1rem;
    display: flex;
    justify-content: center;
    gap: 5px;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header a {
    color: inherit;
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}

h1 {
    font-weight: 400;
    background-color: lightgrey;
    margin: 0;
    line-height: 3.3rem;
    font-size: 4rem;
}

p {
    line-height: 2rem;
}

b {
    font-weight: 500;
}

main {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 1.5em;
    min-height: 60vh;
    box-sizing: border-box;
    width: 50vw;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 500px;
    user-select: none;
}

@media (max-width: 900px) {
    main {
        font-size: 1.2em;
    }
}

table {
    border: 1px solid black;
}

th {
    text-align: left;
    font-weight: 500;
}

p { 
    margin: 0
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

#sticker {
    z-index: 200;
    background-color: black;
}

#sticker:hover {
    cursor: pointer;
    background-image: url('sticker.png');
    background-size: cover;
    opacity: 0.5;
}

.replaced {
    color: orangered;
}