body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    user-select: none;
    background-color: black;
}

header {
    font-size: 1rem;
    display: flex;
    justify-content: center;
    gap: 5px;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header a {
    color: inherit;
    text-decoration: none;
    color: blue;
}

header a:hover {
    text-decoration: underline;
}

h1 {
    font-weight: 200;
    color: blue;
}

p {
    line-height: 2rem;
    color: white;
}

main p {
    font-size: 2rem;
    line-height: 2.5rem;
    margin-bottom: 0;
}

main {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 1.5em;
    min-height: 60vh;
    box-sizing: border-box;
    width: 50vw;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 500px;
    user-select: none;
}

@media (max-width: 900px) {
    main {
        font-size: 1.2em;
    }
}

img {
    width: 100%;
    transition: all 1s;
    margin-top: 50px;
}

.inverted {
    filter: invert(1);
}

.inverted:hover {
    filter: invert(0);
}

img:hover {
    filter: invert(1);
}

summary {
    color: blue;
    margin-top: 40px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

details p {
    color: grey;
    border: 1px solid blue;
    padding: 15px;
    font-size: 1.5rem;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}