body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
    background-color: black;
    color: white;
}

header {
    font-size: 1rem;
    display: flex;
    justify-content: center;
    gap: 5px;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header a {
    color: inherit;
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}

h1 {
    font-weight: 200;
}

p {
    line-height: 2rem;
}

main {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 1.5em;
    min-height: 60vh;
    box-sizing: border-box;
    width: 50vw;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 500px;
    user-select: none;
}

@media (max-width: 900px) {
    main {
        font-size: 1.2em;
    }
}

.hud {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
    background-color: lightgray;
    color: black;
}

p {
    padding: 25px;;
}


.hud > div {
    display: flex;
    gap: 0;
    box-sizing: border-box;
}

.item {
    background-color: lightgray;
    height: 100px;
    min-width: 100px;
    width: 100%;
    box-sizing: border-box;
    border-left: 2px solid white;
    border-top: 2px solid white;
}
.item:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}
.item:active {
    background-color: white;
    color: black;
    cursor: p
}


.img-container {
    height: 100px;
    width: 100px;
}

img {
    width: 100%;
}