body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
    font-family: 'Times New Roman', Times, serif;
}

header {
    font-size: 1rem;
    display: flex;
    justify-content: center;
    gap: 5px;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header a {
    color: inherit;
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}

h1 {
    font-weight: 200;
}

p {
    line-height: 2rem;
}

main {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 1.5em;
    min-height: 60vh;
    box-sizing: border-box;
    width: 50vw;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 500px;
    user-select: none;
}

@media (max-width: 900px) {
    main {
        font-size: 1.2em;
    }
}