body {
    background: darkgrey;
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    overflow: hidden;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

header a {
    color: black;
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}

h1 {
    font-weight: 200;
}

main {
    margin: 100px;
    position: relative;
    flex: 1;
    width: 80%;
    display: flex;
}

img {
    height: 125px;
    opacity: 0.75;
    border: 1px solid black;
    border-style: inset;
}

.tab {
    display: flex;
    align-items: center;
    padding: 15px;
    border: 1px solid black;
    border-right: 0;
}
.tab:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}
.tab + .tab {
    border-top: 0;
}

.content {
    height: 50%;
    width: 80%;
    max-height: 1200px;
    min-height: 600px;
    border: 1px solid black;
    padding: 15px;
    overflow-y: auto;
}


/*smaller screen body widths */
@media (max-width: 900px) {
    main {
        width: 90vw;
    }
    .popover-content {
        max-width: 80vw;
    }
}