body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: lime;
}

header {
    font-size: 1rem;
    display: flex;
    justify-content: center;
    gap: 5px;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header a {
    color: inherit;
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}

h1 {
    font-weight: 200;
}

p { 
    line-height: 2rem;
}

main {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 1.5em;
    min-height: 60vh;
    box-sizing: border-box;
    width: 50vw;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 400px;
    user-select: none;
}

.sequence {
    height: 50px;
    font-family: "Noto Sans", "Noto Sans JP", "Noto Sans Devanagari", "Noto Sans Arabic", 
                "Noto Sans Hebrew", "Noto Sans Georgian", monospace;
    font-size: 2rem;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    letter-spacing: 0.1em;
    transition: opacity 0.6s ease;
    animation: flicker 0.2s infinite alternate;
    transform: skew(100deg);
    transition: all 1s;
    position: sticky;
    top: 0;
}
.sequence:hover {
    cursor: pointer;
}
.sequence.paused {
    opacity: 0.3;
    animation-play-state: paused;
    transform: skew(0deg);
}

@keyframes flicker {
    from { opacity: 1; }
    to { opacity: 0.8; }
}

@media (max-width: 900px) {
    main {
        font-size: 1.2em;
    }
}
