body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
}

header {
    font-size: 1rem;
    display: flex;
    justify-content: center;
    gap: 5px;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header a {
    color: inherit;
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}

h1 {
    letter-spacing: 1rem;
    text-transform: uppercase;
}

p {
    line-height: 2rem;
}

main p {
    font-size: 2.5rem;
    line-height: 2.5rem;
}

main {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 1.5em;
    min-height: 60vh;
    box-sizing: border-box;
    width: 50vw;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 500px;
    user-select: none;
}

@media (max-width: 900px) {
    main {
        font-size: 1.2em;
    }
}

.square {
    transition: all 0.5s ease;
}
.square:hover {
    background-color: transparent !important;
    border-radius: 100%;
    cursor: pointer;
    transition: all 0.5s ease;
}

.banner {
    width: 100vw;
    height: 100px;
    background-color: black;
    color: white;
    position: fixed;
    bottom: 0;
    font-size: 2rem;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    overflow: hidden;
    z-index: 5;
}

.banner p {
    height: 100%;
}

