* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    user-select: none;
    font-family: sans-serif;
    background-color: blue;
    color: white;
}

main {
    margin: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
    width: 50%;
    height: 90vh;
}

p {
    font-size: 0.25rem;
}

h1 {
    font-weight: 200;
    font-style: italic;
    mix-blend-mode: difference;
}

span {
    transition: all 0.5s;
}

header a {
    color: white;
    text-decoration: none;
}
header a:hover {
    text-decoration: underline;
}