body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    font-family: 'sans-serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    user-select: none;
    background-color: lightgrey;
}
header {
    font-size: 1rem;
    display: flex;
    justify-content: center;
    gap: 5px;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header a {
    color: black;
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}

h1 {
    font-weight: 400;
    margin: 0;
    line-height: 4rem;
    font-size: 4rem;
}

p {
    line-height: 2rem;
}

main {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 1.5em;
    min-height: 60vh;
    box-sizing: border-box;
    width: 50vw;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 500px;
    user-select: none;
}

@media (max-width: 900px) {
    main {
        font-size: 1.2em;
    }
}

input {
    -webkit-appearance: none;
    width: 100%;
    height: 30px;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    background-color: white;
    border: 1px solid black;
}
input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 100px;
  height: 30px;
  background: red;
  cursor: pointer;
}

input::-moz-range-thumb {
  width: 100px;
  height: 30px;
  background: red;
  cursor: pointer;
}

input:disabled {
    background-color: lightgrey;
    border: 1px solid black;
}