* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: crosshair;
}

:root {
    background-color: white;
    color: black;
}

body {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    user-select: none;
}

main {
    width: 90%;
    margin: 0 auto;
    font-size : 2rem;
}

h1 {
    font-weight: 400;
    text-align: center;
    font-style: italic;
    font-size: 3rem;
    line-height: 30vh;
    padding: 50px;
}
h2 {
    font-size: 2rem;
    font-weight: 400;
}

a {
    text-decoration: overline;
    color: black;
}
a:hover {
    text-decoration: underline;
}

p {
    font-size: 1.5rem;
    width: 50%;
    margin: auto;
    padding: 20px 0px;
}

button {
    width: 200px;
    height: 100px;
    margin-top: 50px;
    border: 1px solid black;
    background-color: white;
}
button:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

#overlay {
  position: fixed;
  inset: 0;
  z-index: 10;
  pointer-events: none;
}

#container {
    margin-bottom: 300px;
}

#secret-text {
    position: fixed;
    top: 5%;
    left: 0;
    width: 100%;
    font-weight: bold;
    text-align: center;
    pointer-events: none;
    display: none;
    color: white;
}
#secret-text p {
    font-size: 5vh;
}

.img-container {
    width: 50%;
    margin: 0 auto;
}

img {
    width: 100%;
}

img:active {
    filter: invert(100);
    cursor: none;
}