* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: crosshair;
}

:root {
    background-color: white;
    color: black;
}

body {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    user-select: none;
}

main {
    width: 70%;
    margin: 0 auto;
    font-size : 2rem;
}

h1 {
    font-weight: 400;
    text-align: center;
    font-style: italic;
    font-size: 2rem;
    line-height: 30vh;
    padding: 50px;
}
h2 {
    font-size: 2rem;
    font-weight: 400;
}

a {
    text-decoration: overline;
    color: black;
}
a:hover {
    text-decoration: underline;
}

p {
    font-size: 1rem;
    width: 50%;
    margin: auto;
    padding: 20px 0px;
}

#overlay {
  position: fixed;
  inset: 0;
  z-index: 10;
  pointer-events: none;
}

img:active {
    filter: invert(100);
    cursor: none;
}