body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color: blue;
    color: white;
}

header {
    font-size: 1rem;
    display: flex;
    justify-content: center;
    gap: 5px;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header a {
    color: inherit;
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}

h1 {
    font-weight: 200;
}

main {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 1.5em;
    min-height: 60vh;
    box-sizing: border-box;
    width: 50vw;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 500px;
    user-select: none;
}

@media (max-width: 900px) {
    main {
        font-size: 1.2em;
    }
}

.sequence {
    height: 50px;
    font-size: 2rem;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    letter-spacing: 1em;
    transition: all 1s;
}

.cover {
    position: fixed;
    top: 50%;
    pointer-events: none;
}

button {
    width: 50%;
    height: 200px;
    font-size: 4rem;
    background-color: transparent;
    border: 1px outset white;
    color: white;
}
button:hover {
    cursor: pointer;
    background-color: blue;
    color: white;
}
button:active {
    background-color: white;
    color: blue;
    cursor: p
}

p {
    width: 100%;
    margin-top: 0;
    line-height: 2rem;
}